<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First file </title>
</head>
<body>
    <form action="">
        <di>
            <H1>"VICE VERSA"</H1>
        <div>
            <label for="story">Введите текст</label>
        </div>
            <textarea id="story" name="story"
                  rows="5" cols="33" placeholder="тут должен быть текст">
            </textarea>
        </div>
        <div>
            <button name="button">Reverse!</button>
        </div>
    </form>
</body>
</html>